footer
  .container.text-center
    p.pull-left © 2016 https://github.com/geco All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/geco/remote-video') GitHub Project
      li
        a(href='https://github.com/geco/remote-video/issues') Issues
