extends layout
block content
  .page-header
    .row
      .col-sm-3
        h2 Audio
        p
          audio(src=elements.audio,autoplay,controls)
            Your browser does not support the <code>audio</code> element.
    hr
