extends layout
block content
  script.
              function serialize( obj ) {
                return Object.keys(obj).reduce(function(a,k){a.push(k+'='+encodeURIComponent(obj[k]));return a},[]).join('&')
              }
              function invoke(params, camerasnumber){
                  var req = new XMLHttpRequest();
                  req.open("GET","/detection"+"?"+serialize(params), true);
                  req.onreadystatechange = function(){
                      if(req.readyState == 4 && req.status == 200){
                          if ((params.action == 'start') || (params.action == 'pause')) window.scrollTo(0, 0);
                          var parsed = JSON.parse(req.responseText);
                          for (var i=0; i<camerasnumber; i++) document.getElementById("status"+(i+1)).innerHTML = parsed.status[i];
                      }
                  }
                  req.send(null);
              }
              document.addEventListener("DOMContentLoaded",function(){
                var cameras=!{JSON.stringify(cameras).replace(/<\//g, '<\\/')};
                setInterval(function() {invoke({action:'status'}, cameras.length)}, 1000)
                document.getElementById("startall").onclick = function() {invoke({action:'start', target:'all'})};
                document.getElementById("stopall").onclick = function() {invoke({action:'pause', target:'all'})};
              });
  .page-header
    .row
      each camera, index in cameras
        .col-sm-6
          h2 #{camera.name}
          div(id="status"+(index+1))
          img(src=camera.address, width='100%')
    hr
    .row
      .col-sm-3
        p
          audio(src=audio,autoplay,controls,muted)
            Your browser does not support the <code>audio</code> element.
    hr
    .row
      .col-sm-3
        button.btn.btn-success.btn-block.btn-md(id='startall')
          i.fa.fa-play
          |  Start detection on all cameras
    hr
    .row
      .col-sm-3
        button.btn.btn-danger.btn-block.btn-md(id='stopall')
          i.fa.fa-stop
          |  Stop detection on all cameras
